.well {
  background-color: lightgrey;
  border: 5px solid black;
  border-radius: 15px;
  height: 200px;
}

.term {
  text-align: center;
}

.definition {
  display: none;
}

.selected {
  color: red;
}
